<p-table
[columns]="gridcolumns"
[value]="userColumns"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let column of columns">
                {{column.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body">
        <tr>
          <td
          *ngFor="let column of userColumns"

          >
            <!-- {{column.firstName}}
            {{column.lastName}}
            {{column.maidenName}}
            {{column.age}}
            {{column.gender}}
            {{column.email}}
            {{column.phone}}
            {{column.username}}
            {{column.birthDate}} -->
          </td>
        </tr>
    </ng-template>
</p-table>
