<header>
  <nav>
    <button type="button"  pButton label="Products Component" (click)="onProducts()"></button>
    <button type="button"  pButton label="Carts Component" (click)="onCarts()"></button>
  </nav>
</header>

<p-table [value]="users" [tableStyle]="{'min-width': '60rem'}">
  <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Birth Date</th>
        <th>Gender</th>
        <th>Phone</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.username}}</td>
        <td>{{user.age}}</td>
        <td>{{user.email}}</td>
        <td>{{user.birthDate}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.phone}}</td>
      </tr>
  </ng-template>
</p-table>
